* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

.container {
	width: 100%;
	max-width: 1020px;
	margin: auto;
}


.line {
	width: 100%;
	height: 6px;
	background-color: #f46d70;
}

/* ______________section slider________________ */



h1 {
	font-size: 30px;
	font-family: "Lato";
	font-weight: 900;
	line-height: 0.595;
	padding-bottom: 26px;
}

p {
	font-size: 18px;
	font-weight: 300;
	color: #767e9e;
	line-height: 1.667;
	word-spacing: 1px;
}


h2 {
	font-size: 18px;
	font-weight: 900;
	line-height: 0.992;
	padding-bottom: 10px;
}

.box_social_network {
	display: flex;
	margin-top: 24px;
}

.border_social {
	width: 33px;
	height: 33px;
	border: 1px solid #767e9e;
	border-radius: 50%;
	margin-right: 7px;
	background-repeat: no-repeat;
	background-position: center;
	transition: .3s;
}

.border_social:Hover {
	background-color: rgba(118, 126, 158, 0.6);
}

/* _________________section Get a Quote_____________ */

.section {
	width: 100%;
	background-color: #f7736b;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 30px;
	flex-wrap: wrap;
}
.container_Quote_text {
	width: 100%;
	margin-top: 69px;
	padding: 0px 10px;
}

.container_Quote_text > h1,
.container_Quote_text > p {
	color: #f0d8d9;
}

.container_with_form {
	width: 100%;
	display: flex;
	justify-content: space-between;
    margin: 46px 0px 70px;
    position: relative;
}

form {
	width: 66.66%;
	padding: 0px 10px;
	display: flex;
	flex-direction: column;
}

form > .input_form {
	padding: 12px 15px;
	background-color: #d6564f;
	border-radius: 4px;
	border: none;
	margin-top: 16px;
	font-size: 12px;
	color: #f0d8d9;
	resize: none;
	/* line-height: 1.4; */
}

::-webkit-input-placeholder {
	color: #f48c8f;
}

form :first-child {
	margin-top: 0px;
}

form :last-child {
	width: 20%;
	cursor: pointer;
    position: absolute;
    right: 13%;
    bottom: 0;
}

.block_contacts {
	width: 33.33%;
    padding: 0px 10px;
}

.block_contacts h2 {
    color: #f0d8d9;
}

.block_contacts p {
    color: #f0d8d9;
	font-size: 12px;
	line-height: 1.797;
}

.contact_info {
	margin-bottom: 25px;
}

.cont_inline {
	width: 100%;
	display: flex;
	align-items: center;
}

.contact_icon {
	width: 15px;
	height: 15px;
	margin-right: 9px;
	background-repeat: no-repeat;
	background-position: center;
}


/* ___________section footer____________ */

.section.footer{
    background-color: #2d303a;
}

.container_footer{
    width: 100%;
    margin: 0px 0px  0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copirait > p{
	font-size: 12px;
}

.box_social_footer{
    display: flex;
    margin: 22px 3px;
}


  
